<ul class="breadcrumb">
  <li><%= link_to "Fields", :controller =>"admin_field",:action =>"list_fields" %> <span class="divider">/</span></li>
  <li><%= link_to "Configure Field "+field.name, :controller =>"admin_field",:action =>"configure_field",:id => field.id %> <span class="divider">/</span></li>
  <li class="active"><%= link_to "Configure Child Field "+field.name, :controller =>"admin_field",:action =>"configure_field",:id => field.id %></li>
</ul>
<%= render :template => 'shared/fields/create_select_field_option' ,:locals => { :field => field, :parentOption => parentOption }%>
<div align="right">
  <a class="btn btn-primary" data-toggle="modal" href="/admin_field/configure_field/<%= field.id %>">Back To Parents</a>
  <a class="btn btn-primary" data-toggle="modal" href="#myCreateSelectFieldOptionModal">Add Child Select Option</a>
</div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% field.field_option.each do |options| %>
      <% if options.parent_field_option != nil and options.parent_field_option == BSON::ObjectId.from_string(parentOption) %>
      <tr>
        <td>
          <%= options.option %>
        </td>
        <td><%= render :template => 'shared/fields/delete_field_option',:locals => { :option => options.id,:field => field.id }%></td>
      </tr>
          <% end %>
  <% end %>
</table>
