<div class="modal hide fade in" id="myModal<%= option %>" style="display: none;">
          <div class="modal-header">
            <button class="close" data-toggle="modal" href="#myModal<%= option %>">×</button>
            <h3>Delete Option</h3>
          </div>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <%= link_to "Yes", { :controller => "admin_field",:action=>"delete_option", :option_id=>option } , :class => "btn btn-danger"  %>
            <a data-toggle="modal" href="#myModal<%= option %>" class="btn secondary">No</a>
          </div>
</div>
<a class="btn" data-toggle="modal" href="#myModal<%= option %>" >Delete</a>