<%= render :template => 'shared/navbar' ,:locals => {:assetsNav => false, :searchNav => true,:adminNav => false}%>

<%= render :template => 'search/sidebar'  %>

<table class="table table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <% @assets.each do |asset| %>
      <tr>
        <td>
          <%= asset.name %>
        </td>

        <td>
          <%= asset.description %>
        </td>
        <td><%= link_to 'View', :controller => 'assets', :action => 'view', :id => asset.id %></td>
      </tr>
  <% end %>
</table>
