<%= render :template => 'shared/navbar' ,:locals => {:assetsNav => false, :searchNav => true,:adminNav => false}%>

<%= render :template => 'search/sidebar'  %>

<table class="table table-hover table-bordered">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <% for asset in @assets %>
      <% if can_view(asset.asset_type_id) %>
          <tr style="background-color: white;">
            <% if can_view(asset.asset_type_id) %>
                <td style="text-align: center;">
                  <%= link_to asset.name, {:controller => 'assets', :action => 'view',:id => asset.id} %>
                </td>
                <td style="text-align: center;">
                  <%= asset.description %>
                </td>
            <% else %>
                <td style="text-align: center;">
                  <%= asset.name %>
                </td>
                <td style="text-align: center;">
                  <%= asset.description %>
                </td>
            <% end %>
            <td style="text-align: center;">
              <% if can_edit(asset.asset_type_id) %>
                  <%= link_to 'Edit',{ :controller => 'assets', :action => 'edit', :id => asset.id},:class => 'btn' %>
              <% end %>
              <% if can_destroy(asset.asset_type_id) %>
                  <%= link_to 'Delete',{ :controller => 'assets', :action => 'delete', :asset_id => asset.id},:class => 'btn' %>
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>
<%= render :template => 'search/pagination' %>