<% content_for :sidebar do %>
    <% if @searchJson != nil %>
        <% search = JSON.parse(@searchJson) %>
    <% end %>
    <div class="sidebar-nav">
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Search</a></li>
              <%  if @filters != nil && @filters.size > 0 %>
                  <li><a href="#tab2" data-toggle="tab">Filters</a></li>
              <% end %>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <form method="post" action="/search/search">
                  <input name="authenticity_token" type="hidden" value="token_value">
                  <% if @showCreateFilter %>
                      <%= render :template => 'search/create_filter' %>
                  <% end %>
                  <div style="text-align: right;">
                    <%= submit_tag "Search" ,:class => 'btn btn-primary' %>
                  </div>
                  <table class="table table-striped">
                    <tr><li><td>Asset Type: </td><td>
                      <% if @searchJson != nil && search['asset_types'] != nil %>
                          <%=  select('asset_type','asset_type_id', accessibleAssetTypes.collect {|p| [ p.name, p.id ] },{:selected => search['asset_types']},{:multiple => true}) %>
                      <% else %>
                          <%=  select('asset_type','asset_type_id', accessibleAssetTypes.collect {|p| [ p.name, p.id ] },{},{:multiple => true}) %>
                      <% end %>
                    </td></li></tr>
                    <tr><li><td>Name: </td><td>
                      <% if @searchJson != nil && search['name'] != nil %>
                          <%=  text_field('name','name' ,{:value => search['name']}) %>
                      <% else %>
                          <%=  text_field('name','name' ) %>
                      <% end %>
                    </td></li></tr>
                    <tr><li><td>Description: </td><td>
                      <% if @searchJson != nil && search['description'] != nil %>
                          <%=  text_field('description','description' ,{:value => search['description']}) %>
                      <% else %>
                          <%=  text_field('description','description' ) %>
                      <% end %>
                    </td></li></tr>
                    <% Field.all.each do |field| %>
                        <% if FieldType.find(field.field_type_id).is_searchable %>
                            <tr><li><td><%= field.name %>: </td><td>
                              <% if @searchJson != nil && search['fields'][field.id.to_s] != nil %>
                                  <% if FieldType.find(field.field_type_id).use_casecade_option %>
                                      <%= render :template => 'search/field_search/'+FieldType.find(field.field_type_id).type_name.downcase.gsub(' ','_')+'_search',:locals =>{:field => field, :valueParent => search['fields'][field.id.to_s]['parent'], :valueChild => search['fields'][field.id.to_s]['child']} %>
                                  <% else %>
                                      <%= render :template => 'search/field_search/'+FieldType.find(field.field_type_id).type_name.downcase.gsub(' ','_')+'_search',:locals =>{:field => field, :value => search['fields'][field.id.to_s],:valueParent => nil, :valueChild => nil} %>
                                  <% end %>
                              <% else %>
                                  <%= render :template => 'search/field_search/'+FieldType.find(field.field_type_id).type_name.downcase.gsub(' ','_')+'_search',:locals =>{:field => field, :value => nil,:valueParent => nil, :valueChild => nil} %>
                              <% end %>
                            </td></li></tr>
                        <% end %>
                    <% end %>
                  </table>
                  <div style="text-align: right;">
                    <%= submit_tag "Search" ,:class => 'btn btn-primary'%>
                  </div>
                </form>
              </div>
              <div class="tab-pane" id="tab2">
                <table class="table table-striped">
                  <% @filters.each do |filter| %>
                      <tr>
                        <td><%= link_to filter.name ,:controller => 'search',:action=>'load_filter', :filter_id => filter.id %></td>
                        <td><%= link_to "Delete",{:action => 'delete_filter',:filter_id => filter.id},:class=> 'btn btn-danger' %></td>
                      </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
<% end %>