<div class="modal hide" id="myCreateAssetTypeModal" style="display: none;">
  <script type="text/javascript">
      function vendorType()
      {
          var select_list_field = document.getElementById('vendor_vendor_type_description');
          var select_list_selected_index = select_list_field.selectedIndex;

          var text = select_list_field.options[select_list_selected_index].text;
          var value = select_list_field.value;

          if(text == 'Rackspace Cloud')
          {
              document.getElementById('rackspace_row').style.display= 'block';
              document.getElementById('amazon_row').style.display= 'none';
          }
          else if(text == 'Amazon EC2 Cloud')
          {
              document.getElementById('rackspace_row').style.display= 'none';
              document.getElementById('amazon_row').style.display= 'block';
          }
          else
          {
              document.getElementById('rackspace_row').style.display= 'none';
              document.getElementById('amazon_row').style.display= 'none';
          }

      }
  </script>
  <div class="modal-header">
    <button class="close" data-toggle="modal" href="#myCreateAssetTypeModal">×</button>
    <h3>Create Asset Type</h3>
  </div>
  <div class="modal-body" align="center">

    <form method="post" class="well" action="create_asset_type" enctype="multipart/form-data" onsubmit="return $(this).validate()">
      <input name="authenticity_token" type="hidden" value="token_value">
      <table>
        <tr>
          <td><%=  text_field("name","asset_type_name",:placeholder => "Name","data-validation"=>"required") %> </td>
        </tr>
        <tr>
          <td>  <%= text_field("description","asset_type_description",:placeholder => "Description") %> </td>
        </tr>
        <tr>
          <td>  <%= select("vendor","vendor_type_description",CloudVendorType.all.collect {|p| [ p.vendor_name, p.id ] },{:prompt => "None"},:onchange => "vendorType()") %> </td>
        </tr>
        <tr id="rackspace_row" style="display: none;">
          <td>  <%= select("vendor","vendor_type_rs",CloudVendor.where(:cloud_vendor_type => CloudVendorType.first(:vendor_name => 'Rackspace Cloud').id).collect {|p| [ p.name, p.id ] },{:prompt => "None"}) %> </td>
        </tr>
        <tr id="amazon_row" style="display: none;">
          <td>  <%= select("vendor","vendor_type_amazon",CloudVendor.where(:cloud_vendor_type => CloudVendorType.first(:vendor_name => 'Amazon EC2 Cloud').id).collect {|p| [ p.name, p.id ] },{:prompt => "None"}) %> </td>
        </tr>
        <tr>
          <td style="text-align: center;">
            <div class="fileupload fileupload-new" data-provides="fileupload">
              <div class="fileupload-new thumbnail"></div>
              <div class="fileupload-preview fileupload-exists thumbnail"></div>
              <div>
                         <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span>
                           <%= file_field("asset_image", "asset_image") %>
                         </span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <div class="modal-footer">

        <%= submit_tag "Create" ,:class => 'btn btn-primary'%>
        <a data-toggle="modal" href="#myCreateAssetTypeModal" class="btn secondary">No</a>
      </div>
    </form>
  </div>

</div>