<%= render :template => 'shared/navbar',:locals => {:assetsNav => false, :searchNav => false,:adminNav => true} %>
<ul class="breadcrumb">
  <li><%= link_to "Asset Types", :controller =>"admin_field",:action =>"list_asset_types" %></li>
</ul>
<%  if @assetAlert != nil %>
    <div class="alert alert-success">
      Asset Type <%= @assetAlert %> Successfully <%= @assetAction %>
    </div>
<% end %>
<%= render :template => 'admin_field/create_asset_type' %>

<div align="right">
  <a class="btn btn-primary" data-toggle="modal" href="#myCreateAssetTypeModal">Create Asset Type</a>
</div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  <% @asset_types.each do |asset_type| %>
      <tr>
        <td style="text-align: center;">
          <%= asset_type.name %>
        </td>

        <td style="text-align: center;">
          <%= asset_type.description %>
        </td>
        <td style="text-align: center;">
          <%= link_to 'Configure',{ :action => 'list_asset_screen_fields' ,:id => asset_type.id},:class => 'btn'  %>
            <%= render :template => 'shared/delete_asset_type' ,:locals => { :asset_type => asset_type }%>
        </td>
      </tr>
  <% end %>
</table>

