<div class="modal hide" id="myChangePasswordUser_<%= current_user.id%>" style="display: none;">
  <div class="modal-header">
    <button class="close" data-toggle="modal" href="#myChangePasswordUser_<%= current_user.id%>">×</button>
    <h3 style="text-align: center;">Change Password For <%= current_user.full_name %></h3>
  </div>
  <div class="modal-body" align="center">
    <form method="post" class="well" action="/users/change_password" onsubmit="return $(this).validate()">
      <input name="authenticity_token" type="hidden" value="token_value">
      <table>
        <tr>
          <td><%= password_field('password','password',:placeholder => "Password") %></td>
        </tr>
        <tr>
          <td><%= password_field('password_confirmation','password_confirmation',:placeholder => "Password Confirmation") %></td>
        </tr>
      </table>
      <div class="modal-footer">
        <%= submit_tag "Change Password" ,:class => 'btn btn-primary'%>
        <a data-toggle="modal" href="#myChangePasswordUser_<%= current_user.id%>" class="btn secondary">No</a>
      </div>
    </form>
  </div>
</div>
<div style="text-align: right;">
  <a class="btn btn-primary" data-toggle="modal" href="#myChangePasswordUser_<%= current_user.id%>">Change Password</a>
</div>