<div class="modal hide" id="myCreateUser" style="display: none;">
  <div class="modal-header">
    <button class="close" data-toggle="modal" href="#myCreateUser">×</button>
    <h3 style="text-align: center;">Create User</h3>
  </div>
  <div class="modal-body" align="center">
    <form method="post" class="well" action="/users/create" onsubmit="return $(this).validate()">
      <input name="authenticity_token" type="hidden" value="token_value">
      <table>
        <tr>
          <td><%=  text_field('first_name','first_name',:placeholder => "First Name","data-validation" => "required") %></td>
        </tr>
        <tr>
          <td><%=  text_field('last_name','last_name',:placeholder => "Last Name","data-validation" => "required") %></td>
        </tr>
        <tr>
          <td><%=  text_field('email','email',:placeholder => "Email","data-validation" => "required validate_email") %></td>
        </tr>
        <tr>
        <tr>
          <td><%= password_field('password','password',:placeholder => "Password") %></td>
        </tr>
        <tr>
          <td><%= password_field('password_confirmation','password_confirmation',:placeholder => "Password Confirmation") %></td>
        </tr>
        <td>
          <label class="checkbox">
            <%=  check_box_tag 'admin', 'yes' %>
            Admin
          </label>
        </td>
      </tr>
      </table>
      <div class="modal-footer">
        <%= submit_tag "Create" ,:class => 'btn btn-primary'%>
        <a data-toggle="modal" href="#myCreateUser" class="btn secondary">No</a>
      </div>
    </form>
  </div>
</div>
<a class="btn btn-primary" data-toggle="modal" href="#myCreateUser" >Create User</a>