<div class="modal hide fade in" id="myConfigureModal<%= field.id %>" style="display: none;">
          <div class="modal-header">
            <button class="close" data-toggle="modal" href="#myConfigureModal<%= field.id %>">×</button>
            <h3>Configure Field</h3>
          </div>
          <div class="modal-body">
            <%= render :template => 'shared/'+FieldType.find(field.field_type_id).type_name.to_s.downcase.gsub(' ','_')+'_configure' %>
          </div>
          <div class="modal-footer">
            <%= link_to "Update", { :controller => "admin_field",:action=>"update_options", :field_id=>field.id }, :id => 'field' , :class => "btn"  %>
            <a data-toggle="modal" href="#myConfigureModal<%= field.id %>" class="btn secondary">No</a>
          </div>
</div>