<div class="modal hide" id="myModal<%= asset_type.id %>" style="display: none;">
          <div class="modal-header">
            <button class="close" data-toggle="modal" href="#myModal<%= asset_type.id %>">×</button>
            <h3>Delete Record</h3>
          </div>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <%= link_to "Yes", { :controller => "admin_field",:action=>"delete_asset_type", :asset_type_id=>asset_type.id }, :id => 'asset_type' , :class => "btn btn-danger"  %>
            <a data-toggle="modal" href="#myModal<%= asset_type.id %>" class="btn secondary">No</a>
          </div>
</div>
<a class="btn" data-toggle="modal" href="#myModal<%= asset_type.id %>" >Delete</a>