<div class="modal hide" id="myEditFieldModal<%= field.id %>" style="display: none; text-align: center;">
  <div class="modal-header">
    <button class="close" data-toggle="modal" href="#myEditFieldModal<%= field.id %>">×</button>
    <h3>Edit Field</h3>
  </div>
  <form method="post" class="well" action="edit_field" onsubmit="return $(this).validate()">
    <div class="modal-body">
      <input name="authenticity_token" type="hidden" value="token_value">
      <table width="100%">
        <tr>
          <td style="text-align: center;"><%=  text_field("field_name","field_name",:value => field.name,:placeholder => "Name","data-validation"=>"required") %></td>
        </tr>
        <tr>
          <td style="text-align: center;"><%=  text_field("field_description","field_description",:value => field.description,:placeholder => "Description") %></td>
        </tr>
        <% if FieldType.find(BSON::ObjectId.from_string(field.field_type_id)).allows_wiki %>
        <tr>
          <td style="text-align: center;">
              <%= select('allows_wiki','allows_wiki',[ ["Text",false], ["Wiki",true]],:selected=> field.wiki_enabled ) %>
          </td>
        </tr>
            <% end %>
      </table>
      <%= hidden_field('field_id', 'field_id',:value=>field.id) %>
    </div>
    <div class="modal-footer">
      <%= submit_tag "Update" ,:class => 'btn btn-primary'%>
      <a data-toggle="modal" href="#myEditFieldModal<%= field.id %>" class="btn secondary">No</a>
    </div>
  </form>
</div>
<a class="btn"z data-toggle="modal" href="#myEditFieldModal<%= field.id %>" >Edit</a>