<% content_for :head do %>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
        Asset Manager
      </a>
      <ul class="nav">
        <li <% if assetsNav  %> class="active" <% end %> ><%= link_to 'Assets',  :controller => "assets", :action => "index" %></li>
        <li <% if searchNav  %> class="active" <% end %> ><%= link_to 'Search',  :controller => "search", :action => "index" %></li>
        <li <% if adminNav %> class="active" <% end %> ><%= link_to 'Admin',  :controller => "admin", :action => "index" %></li>
      </ul>
      <% if user_signed_in? %>
        <ul class="nav pull-right">
        <li class="dropdown" style="text-align: right;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-align: right;"><%= current_user.email %><b class="caret"></b></a>
          <ul class="dropdown-menu">
        	<li><a href="#">Edit Profile</a></li>
            <li class="divider"></li>
        	<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          </ul>
          <% else %>

         <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end%>