<td><%= field_name %></td>
<% if required %>
<td> <%= text_field(field_name,field_name,"data-validation" => "required")     %>
  <% else %>
    <td> <%= text_field(field_name,field_name)     %>
      <% end %>
  <%= hidden_field(field_name, field_name+'_type',:value=> 'date') %>

</td>
<script type="text/javascript">
    $('#<%= field_name -%>_<%= field_name -%>').datepicker({
        format: 'yyyy-mm-dd'
    });
</script>