<%= render :template => 'shared/navbar' ,:locals => {:assetsNav => true, :searchNav => false,:adminNav => false}%>
<ul class="breadcrumb">
  <li class=""><%= link_to "Assets", :controller =>"assets",:action =>"index" %> </li>
</ul>
<%  if @assetName != nil %>
    <div class="alert alert-success">
     Asset <%= @assetName %> Successfully <%= @assetAction %>
    </div>
<% end %>
<table class="table table-striped">
  <tr>
	<th>Type</th>
	<th>Name</th>
	<th>Description</th>
	<th>Actions</th>
  </tr>
  <% @assets.each do |asset| %>
	  <tr>
		<td style="text-align: center;">
		  <%= link_to AssetType.find(asset.asset_type_id).name, :controller => 'assets', :action => 'view', :id => asset.id %>
		</td>
		<td style="text-align: center;">
		  <%= link_to asset.name, :controller => 'assets', :action => 'view', :id => asset.id %>
		</td>

		<td style="text-align: center;">
		  <%= link_to asset.description, :controller => 'assets', :action => 'view', :id => asset.id %>
		</td>
		<td style="text-align: center;">
		  <%= link_to 'Edit', {:action => 'edit' ,:id => asset.id}, :class => "btn"  %>
		  <%= render :template => 'assets/delete', :locals => {:asset => asset} %>
		</td>
	  </tr>
  <% end %>
</table>
