<%= render :template => 'shared/navbar' ,:locals => {:assetsNav => true, :searchNav => false,:adminNav => false} %>
<ul class="breadcrumb">
  <li><%= link_to "Assets", :controller =>"assets",:action =>"index" %><span class="divider">/</span></li>
  <li class="active"><%= link_to @asset.name, :controller =>"assets",:action =>"view" ,:id => @asset.id %> </li>
</ul>

<table class="table table-striped table-bordered" width="100%">
  <tr><td>Name</td>
    <td><%=  @asset.name %></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%=  @asset.description %></td>
  </tr>
</table>
<br>
<% if @asset.field_value.count() > 0 %>
    <h2>Custom Fields</h2>
    <table class="table table-striped table-bordered" width="100%">
      <%  AssetType.find(@asset.asset_type_id).asset_screen.each do |assetScreenField| %>
          <tr>
            <%= render :template => 'shared/fields/view/'+FieldType.find(Field.find(assetScreenField.field_id).field_type_id).type_name.downcase.gsub(' ','_')+'_view' ,
                       :locals => { :field_name => Field.find(assetScreenField.field_id).name, :field_id  => assetScreenField.field_id,
                                    :value => @asset.field_value.detect {|c|c.field_id == BSON::ObjectId.from_string(assetScreenField.field_id)}} %>
          </tr>
      <% end%>
    </table>
<% end %>
<div class="modal-footer" style="text-align: center;">

  <%= link_to 'Edit',:controller => 'assets', :action =>'edit', :id => @asset.id%>
</div>
