<div class="modal hide" id="myModal<%= group.id %>" style="display: none;">
          <div class="modal-header">
            <button class="close" data-toggle="modal" href="#myModal<%= group.id %>">×</button>
            <h3>Delete Record</h3>
          </div>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <%= link_to "Yes", { :controller => "group",:action=>"delete_group", :group_id=>group.id }, :id => 'group' , :class => "btn btn-danger"  %>
            <a data-toggle="modal" href="#myModal<%= group.id %>" class="btn secondary">No</a>
          </div>
</div>
<a class="btn" data-toggle="modal" href="#myModal<%= group.id %>" >Delete</a>