<div class="modal hide" id="myModal<%= section.id %>" style="display: none;">
          <div class="modal-header">
            <button class="close" data-toggle="modal" href="#myModal<%= section.id %>">×</button>
            <h3>Delete Record</h3>
          </div>
          <div class="modal-body">
            <p>Are you sure?</p>
          </div>
          <div class="modal-footer">
            <%= link_to "Yes", { :controller => "admin_field",:action=>"delete_asset_section", :asset_section_id=>section.id,:asset_type_id => asset_type_id }, :id => 'asset_screen' , :class => "btn btn-danger"  %>
            <a data-toggle="modal" href="#myModal<%= section.id %>" class="btn secondary">No</a>
          </div>
</div>
<a class="btn" data-toggle="modal" href="#myModal<%= section.id %>" >Delete</a>