<div class="modal hide" id="myEditAssetSectionModal<%= section.id %>" style="display: none; text-align: center;">
  <div class="modal-header">
    <button class="close" data-toggle="modal" href="#myEditAssetSectionModal<%= section.id %>">×</button>
    <h3>Edit Asset Screen Section</h3>
  </div>
  <form method="post" class="well" action="/admin_field/edit_asset_screen_section" enctype="multipart/form-data" onsubmit="return $(this).validate()">
    <div class="modal-body">
      <input name="authenticity_token" type="hidden" value="token_value">
      <table width="100%">
        <tr>
          <td style="text-align: center;"><%=  text_field("asset_type_section_name","asset_type_section_name",:value => section.name,:placeholder => "Name","data-validation"=>"required") %></td>
        </tr>

      </table>
      <%= hidden_field('asset_type_id', 'section_id',:value=>section.id) %>
      <%= hidden_field('asset_type_id', 'asset_type_id',:value=>asset_type_id) %>
    </div>
    <div class="modal-footer">
      <%= submit_tag "Update" ,:class => 'btn btn-primary'%>
      <a data-toggle="modal" href="#myEditAssetSectionModal<%= section.id %>" class="btn secondary">No</a>
    </div>
  </form>
</div>
<a class="btn" data-toggle="modal" href="#myEditAssetSectionModal<%= section.id %>" >Edit</a>