<script type="text/javascript">
    function test()
    {
        $.ajax({
            url: '/assets/getChildOptions',
            dataType: 'json',
            data: {
                data: document.getElementById("<%= field_name.gsub(" ","_") %>_parent_<%= field_name.gsub(" ","_") %>_parent").value,
                field_id: "<%= field_id %>"
            },
            type: "POST",
            success: function(data) {
                var childSelect = document.getElementById("<%= field_name.gsub(" ","_") %>_child_<%= field_name.gsub(" ","_") %>_child");

                var options = 1 ;
                childSelect[0] = new Option("Please Select",null,true,false);
                data.forEach(function(item) {
                    childSelect[options] = new Option(item.option,item.id,false, false);
                    options++;
                });

            },
            complete: function(request)	{

            }
        });
    }

    if("<%= value %>" != "")
    {
        $.ajax({
            url: '/assets/getChildOptions',
            dataType: 'json',
            data: {
                data: "<%= value.parent_field_option_id  %>",
                field_id: "<%= value.field_id %>"
            },
            type: "POST",
            success: function(data) {
                var childSelect = document.getElementById("<%= field_name.gsub(" ","_") %>_child_<%= field_name.gsub(" ","_") %>_child");

                var options = 1 ;

                childSelect[0] = new Option("Please Select",null,false,false);
                data.forEach(function(item) {
                    if(item.id == "<%= value.child_field_option_id %>")
                        childSelect[options] = new Option(item.option,item.id,true, true);
                    else
                        childSelect[options] = new Option(item.option,item.id,false, false);

                    options++;
                });

            },
            complete: function(request)	{

            }
        });
    }

</script>
<td>
  <div class="control-group">
    <label class="control-label" style="color: #ffffff;"><%= field_name %></label>
    <div class="controls">
      <% if required %>
          <%=  select(field_name.gsub(" ","_")+"_parent",field_name.gsub(" ","_")+"_parent", getParentOptions(field_id).collect {|p| [ p.option, p.id ] },{:selected => value.parent_field_option_id,:prompt => 'Please Select'}, { :onchange => "test()" ,"data-validation" => "required"})  %>
      <% else %>
          <%=  select(field_name.gsub(" ","_")+"_parent",field_name.gsub(" ","_")+"_parent", getParentOptions(field_id).collect {|p| [ p.option, p.id ] },{:selected => value.parent_field_option_id,:prompt => 'Please Select'}, { :onchange => "test()"})  %>
      <% end %>
      <%=  select(field_name.gsub(" ","_")+"_child",field_name.gsub(" ","_")+"_child",{},{:prompt => 'Please Select'})  %>
    </div>
  </div>
<%= hidden_field(field_name, field_name+'_type',:value=> 'cascading_option') %>