<td><%= field_name %></td>
<% if valueImage != nil %>
    <td><a href="<%= valueImage.photo.base64 %>" rel="lightbox"> <img  src="<%= valueImage.photo.base64('thumb') %>"></a>
      <%= file_field field_name, field_name %></td>
<% else %>
    <td> <%= file_field field_name, field_name %></td>
<% end %>
<%= hidden_field(field_name, field_name+'_type',:value=> 'file_upload') %>