<td><%= field_name %></td>
<% if value != nil %>
    <td><a href="<%= value.photo.base64 %>" rel="lightbox"> <img  src="<%= value.photo.base64('thumb') %>"></a>
      <%= file_field field_name, field_name %></td>
<% else %>
    <td> <%= file_field field_name, field_name %></td>
<% end %>
<%= hidden_field(field_name, field_name+'_type',:value=> 'file_upload') %>