<td xmlns="http://www.w3.org/1999/html"><%= field_name %></td>
<td>
  <table border="0">
    <% FieldOption.find_all_by_field_id(field_id).each do |field| %>
        <tr>
          <td><%= field.option %></td>
          <% if value.option == field.option %>
              <td><%= radio_button(field_name,field_name, field.id) %></td>
          <% else %>
              <td><%= radio_button(field_name,field_name, field.id) %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</td>
<%= hidden_field(field_name, field_name+'_type',:value=> 'option') %>