<td xmlns="http://www.w3.org/1999/html"><%= field_name %></td>
<td>
  <table border="0">
    <% Field.find(BSON::ObjectId.from_string(field_id)).field_option.each do |field| %>
        <tr>
          <td><%= field.option %></td>
              <% if value != nil && value.field_option_id[0] == field.id.to_s %>
                  <td><%= radio_button(field_name,field_name, field.id,{:checked => true}) %></td>
              <% else %>
                  <td><%= radio_button(field_name,field_name, field.id) %></td>
              <% end %>
        </tr>
    <% end %>
  </table>
</td>
<%= hidden_field(field_name, field_name+'_type',:value=> 'single_option') %>