<td><%= field_name %></td>
<%= required %>
<% if required %>
    <% if value != nil %>
        <td><%=  select(field_name,field_name, Field.find(field_id).field_option.collect {|p| [ p.option, p.id ] },{:prompt => "Please Select",:selected => value.field_option_id},"data-validation" => "required") %></td>
    <% else %>
        <td><%=  select(field_name,field_name, Field.find(field_id).field_option.collect {|p| [ p.option, p.id ] },{:prompt => "Please Select"},"data-validation" => "required") %></td>
    <% end %>
<% else %>
    <% if value != nil %>
        <td><%=  select(field_name,field_name, Field.find(field_id).field_option.collect {|p| [ p.option, p.id ] },{:prompt => "Please Select",:selected => value.field_option_id}) %></td>
    <% else %>
        <td><%=  select(field_name,field_name, Field.find(field_id).field_option.collect {|p| [ p.option, p.id ] },{:prompt => "Please Select"}) %></td>
    <% end %>
<% end %>
<%= hidden_field(field_name, field_name+'_type',:value=> 'single_option') %>