<td><%= field_name %></td>
<% if required %>
    <% if value != nil %>
        <td><%=  text_field(field_name,field_name, {:value => value.text_value},"data-validation" => "required") %></td>
    <% else %>
        <td><%=  text_field(field_name,field_name,"data-validation" => "required") %></td>
    <% end %>
<% else %>
    <% if value != nil %>
        <td><%=  text_field(field_name,field_name, {:value => value.text_value}) %></td>
    <% else %>
        <td><%=  text_field(field_name,field_name) %></td>
    <% end %>
<% end %>
<%= hidden_field(field_name, field_name+'_type',:value=> 'text') %>